@charset "utf-8";


@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.border {
    border: solid #11a58f 1px;
    padding: 1em;
    display: flex;
   
    justify-content: space-between;
}
.border-form{
    border: solid #0a9681 3px;
    padding: 1em;
    display: flex;
   
    justify-content: space-between;
}

.task-input{
    min-width: 70%; 
}


@import "../css/bulma/sass/utilities/_all.sass";
@import "../css/bulma/sass/base/_all.sass";
@import "../css/bulma/sass/elements/button.sass";
@import "../css/bulma/sass/elements/container.sass";
@import "../css/bulma/sass/elements/title.sass";
@import "../css/bulma/sass/form/_all.sass";
@import "../css/bulma/sass/components/navbar.sass";
@import "../css/bulma/sass/layout/hero.sass";
@import "../css/bulma/sass/layout/section.sass";
